body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.container{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 
        1fr
        repeat(6,minmax(0,272px))
        1fr;
    grid-gap: 5px;
    grid-template-rows: 
        104px
        320px
        250px
        1fr
    ;
    grid-template-areas: 
        "header header header header header header header header"
        "ayto ayto ayto ayto ayto ayto ayto ayto"
        ". sede transparencia empleo incidencias conoce invest .";
}

.header{
    background-color: wheat;
    grid-area: header;
}

.ayto{
    background-color: cadetblue;
    grid-area: ayto;
}

.sede{
    background-color: red;
    grid-area: sede;
}

.transparencia{
    background-color: brown;
    grid-area: transparencia;
}

.empleo{
    background-color: green;
    grid-area: empleo;
}

.incidencias{
    background-color: yellow;
    grid-area: incidencias;
}

.conoce{
    background-color: pink;
    grid-area: conoce;
}

.invest{
    background-color: purple;
    grid-area: invest;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 
            1fr
            1fr;
        grid-gap: 5px;
        grid-template-rows: 
            104px
            320px
            200px
            200px
            200px
        ;
        grid-template-areas: 
            "header header"
            "ayto ayto"
            "sede transparencia"
            "empleo incidencias"
            "conoce invest"
    }
}